.list-wrapper {
  width: 100%;
  overflow-x: auto;
}

.card-list, .trello-card {
  border-radius: 0.25em;
}

.card-list {
  min-width: 17em;
}

.trello-card {
  background-color: #555;
  position: relative;
}

.trello-card:hover {
  background-color: #ddd;
  color: #222;
  cursor: pointer;
}

.trello-card-label {
  display: block;
  width: 2.5em;
  height: 0.5em;
  background-color: green;
  border-radius: 0.5em;
  border: 0.07em outset #ddd;
}

.overlay-edit-button {
  position: absolute;
  right: 1em;
  display: none;
}

.trello-card:hover .overlay-edit-button {
  display: inline-block;
}

.overlay-edit-button:hover {
  transform: scale(1.3);
}

.list-head {
  position: relative;
}

.more-options-button {
  position: absolute;
  right: 0;
  user-select: none;
  width: 2em;
  text-align: center;
  border-radius: 0.25em;
}

.more-options-button:hover {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}

.more-options-button:active {
  background-color: #aaa;
}

.listmenu-modal {
  color: black;
  position: absolute;
  display: block;
  width: 150px;
  font-size: 0.8em;
  border-radius: 0.25em;
}

.modal-btn {
  background-color: #d7d7d7;
  border-radius: 0.25em;
  border: 1px solid #222;
  box-shadow: 2px 2px 2px 1px black;
  display: inline-block;
  padding: 0.3em 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #ddd;
  transition: all 150ms ease-out;
}

.modal-btn:last-child {
  border-bottom: none;
}

#archive-btn {
  background-color: #CC0000;
  color: #eee;
}

.modal-btn:hover {
  filter: brightness(112%);
  cursor: pointer;
  font-weight: bolder;
  line-height: 2em;
  z-index: 1000;
  transition: all 150ms ease-out;
}

#archive-btn:hover {
  filter: brightness(112%);
}
